.listContainer {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.heroTitle {
  font-size: 2.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 0px; /* Margin below the title */
  color: var(--primary-white);
}

@media only screen and (max-width: 768px) {

  .heroTitle { 
      color: var(--primary-white);
      font-size: var(--w-font-size-display-heading);
      margin: 0px;
  }

}